



ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoRss:hover {
  background-image: linear-gradient(to bottom right, #fb3958, #125688);
}

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
  background-color: #33ccff;
}

.social-network a.icoGoogle:hover {

background:linear-gradient(45deg, #8e36e0 0%, #164b92 100%);
}

.social-network a.icoVimeo:hover {
  background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoRss i,
.social-network a.icoFacebook i,
.social-network a.icoTwitter i,
.social-network a.icoGoogle i,
.social-network a.icoVimeo i,
.social-network a.icoLinkedin i {
  color: #000;
}


.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.soc {
  background-color: #D3D3D3;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgb(177, 172, 172);
  }

  .separator:not(:empty)::before {
    margin-right: .25em;
  }

  .separator:not(:empty)::after {
    margin-left: .25em;
  }

  .typing-demo {
    width: 21ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    /* font-family: monospace; */
    font-size: 2em;
  }

  @keyframes typing {
    from {
      width: 0
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  /* .mycontent-right {
    border-left: 1px dashed #333;
  } */

body{
  font-size: medium;
  background-size: cover;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
 
}

.banner{
  font-size: x-large;
  height:350px;
}
.card-body a{
  border-radius: 50px;
}
.card {

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #f0f3f5 100%);
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    border-radius: 10px;
    overflow: hidden
}

.card .backgroundEffect {
    bottom: 0;
    height: 0px;
    width: 100%
}

.card:hover {
    color: #fff;
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
}

.card:hover .backgroundEffect {
    bottom: 0;
    height: 320px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: #4c4c4d;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    background-blend-mode: multiply,multiply;
    animation: popBackground 0.3s ease-in
}

@keyframes popBackground {
    0% {
        height: 20px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%
    }

    50% {
        height: 80px;
        border-top-left-radius: 75%;
        border-top-right-radius: 75%
    }

    75% {
        height: 160px;
        border-top-left-radius: 85%;
        border-top-right-radius: 85%
    }

    100% {
        height: 320px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%
    }
}

.card .pic {
    position: relative
}

.card .pic img {
    width: 100%;
    height: 280px;
    object-fit: cover
}

.card:hover .text-muted {
    color: #fff !important
}


.card .content .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 5px 10px; */
    background-color: #4c4c4d;
    border-radius: 25px;
    border: none
}

.card:hover .content .btn {
    background: #fff;
    color: #4c4c4d;
    box-shadow: #0000001a 0px 3px 5px
}

.prof{

  text-align: center;
  padding: 30px;
  font-size: medium;
  border-radius: 15px;
  margin: auto;
  width: max-content;
  background-image: linear-gradient(120deg, #fafafa 0%, #f9f9f9 100%);
}
.prof:hover{
  color: rgb(44, 43, 43);
}

.quote-div{
  width: fit-content;
  position: absolute;
  top: 50%;
  margin-left: 5vw;
  
}
/* .cover{
  height: fit-content;
} */
.quote{
  font-style: italic;
}
.blockquote-footer{
  font-size: medium;
  text-align: right;
}

.side-img{
  height: 70vh;
}

.card-img-left{
  width: 120px;
  padding: 10px;
}

.card{
  margin: 10px;
}